[package]
name = "hiit"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
relm4 = { version="0.6.2", features = ["gnome_44", "libadwaita"] }
relm4-components = "0.6.2"
relm4-macros = "0.6.2"
relm4-icons = { version = "0.6.0", features = [
    "edit",
    "entry-clear",
    "pause",
    "play",
    "plus",
    "refresh",
    "weight2"
] }
libadwaita = { version="0.4.4", features = ["v1_4"] }
tokio = { version = "1.34", features = [
    "rt",
    "macros",
    "time",
    "rt-multi-thread",
] }
futures = "0.3.29"
rodio = { version="0.17.1", default-features=false, features = ["wav"] }
json = "0.12.4"

[build-dependencies]
glib-build-tools = "0.18.0"
