.timer {
    padding: 20px;
}
.timer-warmup {
    background: @warning_bg_color;
    color: @warning_fg_color;
}
.timer-exercise {
    background: @success_bg_color;
    color: @success_fg_color;
}
.timer-rest {
    background: @accent_bg_color;
    color: @accent_fg_color;
}
.timer-label {
    font-size: 48px;
}
.large-button {
    padding: 12px;
}
