.timer {
    padding: 20px;
}
.timer-warmup {
    background: #63452c;
    color: #ffffff;
}
.timer-exercise {
    background: #26a269;
    color: #ffffff;
}
.timer-rest {
    background: #1a5fb4;
    color: #ffffff;
}
.timer-label {
    font-size: 48px;
}
.large-button {
    padding: 12px;
}
