.timer-warmup {
    background: #63452c;
    color: #ffffff;
}
.timer-exercise {
    background: #26a269;
    color: #ffffff;
}
.timer-rest {
    background: #1a5fb4;
    color: #ffffff;
}
.timer-title {
    font-size: 2em;
}
.timer-label {
    font-size: 4em;
}
.large-button {
    padding: 0.75em;
    -gtk-icon-size: 1.5em;
}
.huge-button {
    padding: 1.5em;
    -gtk-icon-size: 3em;
}
.training-list-row {
    padding: 12px;
}
