on:
  push:
    branches: ['*']
  pull_request:

name: CI

jobs:
  flatpak:
    name: Flatpak
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged
    steps:
    - uses: actions/checkout@v4
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: exercise-timer.flatpak
        manifest-path: build-aux/xyz.safeworlds.hiit.Devel.json
        run-tests: true
        cache-key: flatpak-builder-${{ github.sha }}
